<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- TemplateBeginEditable name="doctitle" -->
<title>Untitled Document</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<link rel="stylesheet" type="text/css" href="../styles/index.css"/>
<script type="text/javascript" src="../javascript/jquery.js"></script>
<script type="text/javascript" src="../javascript/index.js"></script>
<script type="text/javascript" src="../engine1/script.js"></script>
<link rel="stylesheet" type="text/css" href="../engine1/style.css"/>
<!-- TemplateEndEditable -->
</head>

<body>


<div id="main">
<div id="banner">
	<div id="logo">
    	<img src="../images/NITKKR_logo - Copy.png" align="top" />
    </div>
    <div id="name">
	<p>National Institute Of Technology, Kurukshetra</p>
    <p><font size="4px">Institute Of National Improtance</font>
	</div>
    <a href="#"><div id="icon">
		<p>g</p>
	</div></a>
	<a href="#"><div id="icon">
		<p>t</p>
	</div></a>
	<a href="#"><div id="icon">
		<p>in</p>
	</div></a>
	<a href="#"><div id="icon">
		<p>f</p>
	</div></a>
</div><!--end of the banner div-->
<div id="menu">
	<div class="nev1" id="nev"> 
		<p align="center">
        	<a class="a1" href="file:///C:/Users/user/Desktop/mySite1/index.html">HOME</a>
        </p>
    </div> 
    <div class="nev2" id="nev">
    	<p align="center">
    		<a class="a2" href="a2.html">INSTITUTE</a>
        </p>
    </div>
    <div class="nev3" id="nev" style="width:140px;">
    	<p align="center">
        	<a class="a3" href="a3.html">ADMINISTRATION</a>
        </p>
    </div>
    <div class="nev4" id="nev" style="width:120px;">
    	<p align="center">
        	<a class="a4" href="a4.html">DEPARTMENT</a>
        </p>
    </div>
    <div class="nev5" id="nev">
    	<p align="center">
        	<a class="a5" href="a5.html">SECTIONS</a>
        </p>
    </div>
    <div class="nev6" id="nev">
    	<p align="center">
    	    <a class="a6" href="a6.html">CONTACT</a>
        </p>
    </div>
   
    <p id="log">LOGIN HERE!!</p>
        
  </div><!--end of the menu div-->
<div id="middle">
	
    
    <div id="content">
    	
        <!-- TemplateBeginEditable name="body" -->
        
        		<!-- Start WOWSlider.com BODY section -->
	<div id="wowslider-container1">
	<div class="ws_images">
<a href="#"><img src="data1/images/398344_280798255328336_2096078252_n.jpg" alt="National Institute Of Technology Kurukshetra" title="National Institute Of Technology Kurukshetra" id="wows0"/></a>
<a href="#"><img src="data1/images/1409638683nit5.jpg" alt="Gentle Class Rooms" title="Gentle Class Rooms" id="wows1"/></a>
<a href="#"><img src="data1/images/image__1__copy.jpg" alt="National Institute Of Technology  Kurukshetra" title="National Institute Of Technology  Kurukshetra" id="wows2"/></a>
<a href="#"><img src="data1/images/nationalinstituteoftechnologykurukshetranit__copy.jpg" alt="NIT OUT-SCENES" title="NIT OUT-SCENES" id="wows3"/></a>
</div>
<div class="ws_bullets"><div>
<a href="#wows0" title="National Institute Of Technology Kurukshetra"><img src="data1/tooltips/398344_280798255328336_2096078252_n.jpg" alt="National Institute Of Technology Kurukshetra"/>1</a>
<a href="#wows1" title="Gentle Class Rooms"><img src="data1/tooltips/1409638683nit5.jpg" alt="Gentle Class Rooms"/>2</a>
<a href="#wows2" title="National Institute Of Technology  Kurukshetra"><img src="data1/tooltips/image__1__copy.jpg" alt="National Institute Of Technology  Kurukshetra"/>3</a>
<a href="#wows3" title="NIT OUT-SCENES"><img src="data1/tooltips/nationalinstituteoftechnologykurukshetranit__copy.jpg" alt="NIT OUT-SCENES"/>4</a>
</div></div>

	</div>
	<script type="text/javascript" src="engine1/script.js"></script>
	<!-- End WOWSlider.com BODY section -->
        
		<!-- TemplateEndEditable -->
        
    </div>
	
    
    <div id="sidebar">
    	<div id="login">
       	  <div class="S" id="inlog"><p align="center">STUDENT<p></div>
          <div class="O" id="inlog"><p align="center">OTHER<p></div>
          	<form id="form1" class="form1" name="form1" method="post" action="">
          	<input name="" id="T" type="text" placeholder="ROLL NUMBER"/>
          	<input name="" id="T" type="text" placeholder="PASSWORD"/><br />
          	<input name="" id="B" type="button" value="REGISTER"/>
          	<p>FORGOT PASSWORD?</p>
		  </form>  
          	<form id="form1" class="form2" name="form2" method="post" action="">
          	<input name="" id="T" type="text" placeholder="USER NAME"/>
          	<input name="" id="T" type="text" placeholder="PASSWORD"/><br />
          	<input name="" id="B" type="button" value="REGISTER"/>
          	<p>FORGOT PASSWORD?</p>
		  </form>
     	</div>
        <div id="news">
        	<div id="notify">
            	<p align="center">NOTIFICATION</p>
            </div>
            <div id="list">
           	<ul type="disc">
            <marquee direction="up" scrollamount="3" >
            	<li>NIT Kurukshetra In Media</li>
                <hr width="200px" color="#005353"/>
                <li>Digital India Week</li>
                <hr width="200px" color="#005353"/>
                <li>Strike In NIT Kurukshetra</li>
                <hr width="200px" color="#005353"/>
                <li>Chief Minister's Speech In NITs</li>
                <hr width="200px" color="#005353"/>
                <li>Annual Fest Confluence 2016</li>
                <hr width="200px" color="#005353"/>
             </marquee>
            </ul>
            </div>
    	</div>	
    </div>
	</div><!--end of the middle div-->
	<div id="border">
    	<p>
    	<a href="index.html">HOME</a> |
        <a href="a2.html">INSTITUTE</a> |
        <a href="a3.html">ADMINISTRATION</a> |
        <a href="a4.html">DEPARTMENT</a> |
        <a href="a5.html">SECTIONS</a> |
        <a href="a6.html">CONTACT</a> 
        </p>
        <p style="font-size:14px;">Copyright @ Nit Kurukshetra-136119.All right reserved.Designed By Rahul Mahawar.</font></p>
	</div>
</div><!--end of the main div-->

</body>
</html>
